h1 {
    color: #29b440;
}
h2 {
    color: #050000;
}

label {
    color: #130303;
}

p {
    font-family: 'Chilanka', cursive;
}
/*
h4 {
    background-color: rgb(255,100,80);
}
*/
body {
    /*background-image: url("cards/3976.png");*/
    
    background-repeat: no-repeat;
    background-size: cover;
    
}

#attention{
    color:red;
}